@tailwind base;
@layer base {
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  a {
    @apply text-blue-600 underline;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
 
}
@tailwind components;
@tailwind utilities;

@layer components{
  .button-action{
    font:inherit;
    cursor:pointer;
    border: 1px solid #8a2b06;
    border-radius:25px;
    padding: 0.5rem 2rem;
    margin-left:1rem;
  }
  .mediaMedium{
    width:40rem;
    left:calc(50% - 20rem)
  }
}


* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

main{
  display: flow-root;
}